@use "assets/variables";

.currentWeatherContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temp {
  margin-bottom: 16px;

  span {
    color: variables.$dark-green;
    text-shadow: 4px 4px 8px #ccc;
  }

  label {
    margin-right: 6px;
  }
}

.descp {
  margin-bottom: 8px;

  label {
    margin-right: 6px;
  }
}
